!!! 5
html
	head
		meta(charset = 'utf-8')
		meta('http-equiv' = 'X-UA-Compatible', content = 'IE=edge,chrome=1')
		title Think Geek | Home and Office
		link(rel = 'stylesheet', type = 'text/css', href = 'css/8-bit_wonder/stylesheet.css')
		link(rel = 'stylesheet', type = 'text/css', href = 'css/reset.css')
		link(rel = 'stylesheet', type = 'text/css', href = 'css/main.css')
		script(src = 'https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
		script(src = 'js/app.js')
		//if lt IE 9
			script(src = '//html5shiv.googlecode.com/svn/trunk/html5.js')
	body
		header#mainheader
			.site
				#logo: a(href="/"): img(src="img/think_geek_logo.svg", width="285", height="71", alt="Think Geek")
				#cartsummary
					span.count 0
					|  
					span.label Items
				form#sitesearch
					input(type="text")
					input(type="submit")
		nav#mainnav
			ul
				li: a(href='#') T-shirts and Apparel
				li: a(href='#') Geek
				li: a(href='#') Gadgets
				li: a(href='#').selected Home &amp; Office
				li: a(href='#') Computer Stuff
				li: a(href='#') Caffeine &amp; Edibles
				li: a(href='#') Electronics
				li: a(href='#') Geek Kids
				li: a(href='#') Books
		#content.site
			aside#sidenav
				nav#subnav
					h3 Home &amp; Office
					ul
						li: a(href="#") Wacky Office Supplies
						li: a(href="#") Essential Gear
						li: a(href="#") Lights &amp; Clocks
						li: a(href="#") Kitchen Tech
						li: a(href="#") Body &amp; Bath
						li: a(href="#") Pet Accessories
						li: a(href="#") Mugs &amp; Glasses
						li: a(href="#") Posters
						li: a(href="#") Stickers &amp; Emblems
						li: a(href="#") On Sale
						li: a(href="#") View All
				nav#pricenav
					h3 Shop for Gifts
					ul
						li: a(href="#") Gifts under $10
						li: a(href="#") Gifts under $20
						li: a(href="#") Gifts for Him
						li: a(href="#") Gifts for Her
			section#list
				.breadcrumb <a href="#">Home</a>  &gt;  <a href="#">Home & Office</a>  &gt;  <a href="#">Wacky Office Supplies</a>
				.list-count Show items: <a href="#">1-20</a> | <a href="#">21-40</a> | <a href="#">view all</a>
				.items
					.item
						.img: a(href="#"): img(src="#", width="140", height="140", alt="product image")
						.title: a(href="#") Exclusive Doctor Who TARDIS Throw Blanket
						.price: a(href="#") $24.99
					.item
						.img: a(href="#"): img(src="#", width="140", height="140", alt="product image")
						.title: a(href="#") Prankster Pack
						.price: a(href="#") $19.99 <span class="cut">$29.97</span>
					.item
						.img: a(href="#"): img(src="#", width="140", height="140", alt="product image")
						.title: a(href="#") Minecraft Sticky Notecube
						.price: a(href="#") $9.99
					.item
						.img: a(href="#"): img(src="#", width="140", height="140", alt="product image")
						.title: a(href="#") Badge Holders
						.price: a(href="#") $3.89-$5.99
					.item
						.img: a(href="#"): img(src="#", width="140", height="140", alt="product image")
						.title: a(href="#") Circuit Board Business Card Case
						.price: a(href="#") $20.29 <span class="cut">$28.99</span>
					.item
						.img: a(href="#"): img(src="#", width="140", height="140", alt="product image")
						.title: a(href="#") Ultimate 5-in-1 Geek Pen
						.price: a(href="#") $9.99
					.item
						.img: a(href="#"): img(src="#", width="140", height="140", alt="product image")
						.title: a(href="#") Minecraft Sheet Magnets
						.price: a(href="#") $19.99
					.item
						.img: a(href="#"): img(src="#", width="140", height="140", alt="product image")
						.title: a(href="#") Butterfly Knife-Styled Pen
						.price: a(href="#") $9.99
					.item
						.img: a(href="#"): img(src="#", width="140", height="140", alt="product image")
						.title: a(href="#") Noteboard Foldable Pocket Whiteboard
						.price: a(href="#") $9.99
					.item
						.img: a(href="#"): img(src="#", width="140", height="140", alt="product image")
						.title: a(href="#") Portal 2 Sentry Turret USB Desk Defender
						.price: a(href="#") $39.99
					.item
						.img: a(href="#"): img(src="#", width="140", height="140", alt="product image")
						.title: a(href="#") Mega Man Air Freshener
						.price: a(href="#") $1.49-$2.99
					.item
						.img: a(href="#"): img(src="#", width="140", height="140", alt="product image")
						.title: a(href="#") Rare Earth Magnetic Fridge Pins
						.price: a(href="#") $4.79 <span class="cut">$5.99</span>
					.item
						.img: a(href="#"): img(src="#", width="140", height="140", alt="product image")
						.title: a(href="#") Origami Sticky Notes
						.price: a(href="#") $4.99
					.item
						.img: a(href="#"): img(src="#", width="140", height="140", alt="product image")
						.title: a(href="#") LEGO&reg; Mini Storage Boxes
						.price: a(href="#") $3.99-$4.99
					.item
						.img: a(href="#"): img(src="#", width="140", height="140", alt="product image")
						.title: a(href="#") Pair of Giant Googly Eyes
						.price: a(href="#") $7.99
					.item
						.img: a(href="#"): img(src="#", width="140", height="140", alt="product image")
						.title: a(href="#") Light Show Fountain Speakers
						.price: a(href="#") $39.99
					.item
						.img: a(href="#"): img(src="#", width="140", height="140", alt="product image")
						.title: a(href="#") Star Trek Electronic Door Chime
						.price: a(href="#") $29.99
					.item
						.img: a(href="#"): img(src="#", width="140", height="140", alt="product image")
						.title: a(href="#") Portal Bookends
						.price: a(href="#") $29.99
					.item
						.img: a(href="#"): img(src="#", width="140", height="140", alt="product image")
						.title: a(href="#") Lil' Reds Tiny Plastic Party Cups
						.price: a(href="#") $3.99-$17.99
					.item
						.img: a(href="#"): img(src="#", width="140", height="140", alt="product image")
						.title: a(href="#") USB Toaster Hub and Thumbdrives
						.price: a(href="#") $27.99 <span class="cut">$19.99</span>

	footer