!!! 5
html
	head
		meta(charset = 'utf-8')
		meta('http-equiv' = 'X-UA-Compatible', content = 'IE=edge,chrome=1')
		title Think Geek | Home
		link(rel = 'stylesheet', type = 'text/css', href = 'css/8-bit_wonder/stylesheet.css')
		link(rel = 'stylesheet', type = 'text/css', href = 'css/reset.css')
		link(rel = 'stylesheet', type = 'text/css', href = 'css/main.css')
		script(src = 'https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
		script(src = 'js/app.js')
		//if lt IE 9
			script(src = '//html5shiv.googlecode.com/svn/trunk/html5.js')
	body
		header#mainheader
			.site
				#logo: a(href="/"): img(src="img/think_geek_logo.svg", width="285", height="71", alt="Think Geek")
				#cartsummary
					span.count 0
					|  
					span.label Items
				form#sitesearch
					input(type="text")
					input(type="submit")
		nav#mainnav
			ul
				li: a(href='#') T-shirts and Apparel
				li: a(href='#') Geek
				li: a(href='#') Gadgets
				li: a(href='#') Home &amp; Office
				li: a(href='#') Computer Stuff
				li: a(href='#') Caffeine &amp; Edibles
				li: a(href='#') Electronics
				li: a(href='#') Geek Kids
				li: a(href='#') Books
		#content.home
			section#hero
				h2: a(href="#") Sentry Turret<br/>USB Desk Defender
				ul
					li Motion detecting
					li Opens and closes
					li Sound effects pulled directly from the games
					li Officially licensed Portal 2 collectible
				img(src="img/portal.svg", width="216", height="108", alt="Portal 2")
				.selector_list
					.selector.selected
					.selector
					.selector
					.selector
					.selector
			section#featured_products.site
				h3.chevron Featured Products
				.items
					.item
						.img(style="background-image: url('img/product_photos/retro_pillows.jpg');") 
						.price: a(href="#") $34.99
						.title: a(href="#") Retro Video Game Cartridge Pillow Set
						.summary These cartridges are cuddly and soft and make perfect throw pillows, nap pillows, or butt pillows for wee geeks who are sitting on the floor starting their love affair with gaming.
					.item
						.img(style="background-image: url('img/product_photos/prankster_pack.jpg');")
						.price: a(href="#") $19.99
						.title: a(href="#") Prankster Pack
						.summary Cry havoc and let loose the pranks of war in your office with our Prank Bundle. Let us help you in your mischief making! The bundle includes the ThinkGeek Annoy-a-tron, Eviltron, and Phantom Keystroker.
					.item
						.img(style="background-image: url('img/product_photos/buyers_shirt.jpg'); background-color: #922632; background-size: contain; background-repeat: no-repeat; background-position: center;")
						.price: a(href="#") $19.99
						.title: a(href="#") Buyer's Remorse T-shirt
						.summary At ThinkGeek HQ we generally don't endorse buying pets (we prefer adoption). Wild animals like ocelots are not pets. QED, it would be okay to buy an ocelot. No wait. That's not right. It would NOT be okay to buy an ocelot. NOT. You hear us? Get back here.
			section#excellent_deals.site
				h3.chevron Excellent Deals
				.items
					.item
						.img: a(href="#")
						.discount 55% OFF
						.title: a(href="#") Battlestar Galactica
						.price: a(href="#") $5.39
					.item
						.img: a(href="#")
						.discount 55% OFF
						.title: a(href="#") Battlestar Galactica
						.price: a(href="#") $5.39
					.item
						.img: a(href="#")
						.discount 55% OFF
						.title: a(href="#") Battlestar Galactica
						.price: a(href="#") $5.39
					.item
						.img: a(href="#")
						.discount 55% OFF
						.title: a(href="#") Battlestar Galactica
						.price: a(href="#") $5.39
					.item
						.img: a(href="#")
						.discount 55% OFF
						.title: a(href="#") Battlestar Galactica
						.price: a(href="#") $5.39
					.item
						.img: a(href="#")
						.discount 55% OFF
						.title: a(href="#") Battlestar Galactica
						.price: a(href="#") $5.39
					.item
						.img: a(href="#")
						.discount 55% OFF
						.title: a(href="#") Battlestar Galactica
						.price: a(href="#") $5.39
		footer