border-radius = 2px
body
	background url('../img/tactile_noise_@2X.png')
	background-size 48px 48px
	font-family "Lucida Grande", "Lucida Sans Unicode", sans-serif
	color #333
	font-size 14px
a
	color #195259
	text-decoration none
	&:hover
		text-decoration underline
.site
	width 960px
	margin 0 auto
	position relative
#mainheader
	width 100%
	height 100px
	background #AC3931
	position relative
	.site
		height 100%
	&:before
		content ''
		width 50%
		height 100%
		position absolute
		left -110px
		right 0
		background #FA5348
	&:after
		content ''
		position absolute
		left 50%
		margin-left -110px
		top 0
		width 0
		height 0
		border-top 50px solid transparent
		border-bottom 50px solid transparent
		border-left 20px solid #FA5348
#cartsummary
	position absolute
	right 10px
	bottom 50px
	color #fc8074
	font-size 21px
	font-weight bold
	&:before
		content ''
		width 20px
		height 20px
		background url('../img/cart_icon.svg')
		position absolute
		left -40px
#mainnav
	width 100%
	height 40px
	background #51c7d2
	margin 11px 0 30px
	font-size 12px
	font-weight bold
	text-align center
	ul
		height 100%
	li
		display inline-block
		height 100%	
	a
		display inline-block
		height 100%
		box-sizing border-box
		padding 14px 13px 0
		text-decoration none
		color rgb(25,82,89)
		&:hover, &.selected
			background #195259
			color #FFF
#sitesearch
	position absolute
	right 10px
	bottom 10px
	input[type="text"]
		background #FFE8E6
		border 1px solid #70170F
		height 25px
		margin 0 -6px 0 0
		padding 0
	input[type="submit"]
		background #70170f
		border 2px solid #70170f
		border-radius 0
		color #e6e6e6
		height 27px
		margin 0
#logo
	position absolute
	left 50px
	top 15px
#content
	color black
h3.chevron
	margin-left -10px
	background #fc5241
	padding 6px 0 10px 20px
	font-family '8bit_wondernominal'
	color #7d2820
	font-size 21px
	display inline-block
	box-sizing border-box
	height 35px
	position relative
	&:after
		position absolute
		width 30px
		height 35px
		content url('../img/chevron_end_small.svg')
		top 0
		right -30px
	&:before
		width 0
		height 0
		content ''
		border-top 10px solid #ae382d
		border-left 10px solid transparent
		position absolute
		left 0
		bottom -10px
// Home
#hero
	width 960px
	height 410px
	background #FFF
	margin 0 auto
	border-radius border-radius
	box-sizing border-box
	padding 0 50px
	position relative
	margin-bottom 55px
	background url("../img/hero_bg_turret.jpg") no-repeat white
	background-size contain
	background-position 480px 0
	h2
		font-family '8bit_wondernominal'
		color #FC5241
		font-size 36px
		text-shadow -2px 2px 0 #7D2820
		padding 8px 20px
		line-height 44px
		a
			color #FC5241
			&:hover
				text-decoration none
	ul
		margin 40px 0 0 37px
		font-size 18px
		line-height 22px
	img
		position absolute
		bottom 20px
		left 70px
	&:before, &:after
		width 50px
		height 100%
		content ''
		position absolute
		top 0
		background #FA5348
	&:before
		left 0
		border-top-left-radius border-radius
		border-bottom-left-radius border-radius
	&:after
		right 0
		border-top-right-radius border-radius
		border-bottom-right-radius border-radius
	.selector_list
		width 100%
		height 20px
		position absolute
		bottom -30px
		left 0
		text-align center
	.selector
		width 20px
		height 20px
		background white
		display inline-block
		margin 0 3px
		cursor pointer
		&.selected
			background #fc5241
#featured_products, #excellent_deals
	border-radius border-radius
	background #fff
	padding 10px 0
	margin-top 30px
#featured_products
	.items
		text-align center
		padding 30px 0 15px
	.item
		width 220px
		display inline-block
		text-align left
		position relative
		margin-right 80px
		vertical-align top
		&:last-child
			margin-right 0
	.img
		width 220px
		height 155px
		background #333
		background-size cover
	.price
		color #195259
		font-size 14px
		font-weight bold
		height 0
		border-bottom 30px solid #51c7d2
		border-right 30px solid transparent
		border-left 30px solid transparent
		display inline-block
		width 84px
		text-align center
		-webkit-transform rotate(-45deg)
		position absolute
		top 15px
		left -42px
		line-height 30px
		&:before, &:after
			width 0
			height 0
			content ''
			border-top 10px solid transparent
			border-right 10px solid #195259
			position absolute
			bottom -35px
			-webkit-transform rotate(45deg)
		&:before
			left -27px
		&:after
			right -27px
	.title
		font-weight bold
		margin 20px 0 10px
	.summary
		font-size 12px
		line-height 14px
#excellent_deals
	.items
		text-align center
		padding 12px 0 15px 0
	.item
		width 100px
		display inline-block
		margin-right 20px
		position relative
		&:last-child
			margin-right 0
		.img
			border 1px solid #333
			width 100px
			height 100px
		.discount
			height 18px
			color #7d2820
			font-size 11px
			background #fc5241
			display inline-block
			box-sizing border-box
			padding 3px 3px 0 9px
			position absolute
			left -4px
			top 74px
			&:before
				content ''
				width 0
				height 0
				border-top 4px solid transparent
				border-right 4px solid #7d2820
				position absolute
				left 0
				top -4px
			&:after
				content ''
				width 0
				height 0
				border-left 9px solid #fc5241
				border-top 9px solid transparent
				border-bottom 9px solid transparent
				position absolute
				top 0
				right -9px
		.title
			font-size 11px
			margin 8px 0 6px
			a
				color #333
				&:hover
					text-decoration none
		.price a
			font-weight bold
			color #195259
			font-size 12px
// Sub page
#sidenav
	width 120px
	float left
	nav
		background white
		font-size 10px
		box-sizing border-box
		border-radius border-radius
		margin-bottom 10px
		padding-bottom 9px
		h3
			font-size 12px
			font-weight bold
			color white
			background #195259
			padding 9px 2px 7px 9px
			border-top-left-radius border-radius
			border-top-right-radius border-radius
			margin-bottom 5px
		li a
			display block
			box-sizing border-box
			height 18px
			padding 5px 0 0 9px
			text-decoration none
			&:hover, &.selected
				background #FACAC7
section#list
	width 830px
	float right
	background white
	border-radius border-radius
	box-sizing border-box
	padding 10px 24px
	.item
		width 140px
		display inline-block
		vertical-align top
		height 220px
		margin 0 8px 10px
		text-align center
		&:first-child, &:nth-child(6n)
			margin-left 0
		&:nth-child(5n)
			margin-right 0
	.title a
		font-size 12px
		font-weight bold
		color #333
	.price
		margin-top 7px
		font-weight bold
		font-size 14px
	.cut
		text-decoration line-through
		color #70170f
		font-size 10px




